* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
}
body {
    height: 100vh;
    background-image: url(assets/fire.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo {
    margin-left: 10em;
    width: 20em;
    height: 7em;
}
.logo-img {
    height: 5em;
    margin-top: 1em;
}
.logo p {
    width: 12em;
    margin-left: 5em;
    position: relative;
    bottom: 3em;
}
nav {
    margin-left: 40em;
    width: 50%;
    position: relative;
    bottom: 3.5em;
}
ul {
    margin-left: 5em;
    width: 80%;
    text-align: center;
}
li {
    margin: 0.5em;
    display: inline;
}
li:hover {
    cursor: pointer;
    font-weight: 900;
}
main{
    height: 78.5vh;
    background-image: url(assets/thewitcher.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.logo-button {
    margin-left: 32em;
    padding-top: 12em;
    width: 20vw;
}
.logo-the-witcher {
    padding-left: 1em;
    width: 25vw;
}
.button-watch-now {
    padding-left: 5em;
    width: 20vw;
}